<div data-options="dxView : { name: 'about', title: 'Top 6 Best Games ' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div class="applist">
<div id="content">
<br/>

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.dragonage_na"> 
        <span> <img  class="image" src="content/game/1.JPG">
		</span>
        <span class="comment">Heroes of Dragon Age</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->





 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.sidheinteractive.sif.DR"> 
        <span> <img  class="image" src="content/game/2.JPG">
		</span>
        <span class="comment">Into the Dead</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->



 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.supercell.clashofclans"> 
        <span> <img  class="image" src="content/game/3.JPG">
		</span>
        <span class="comment">Clash of Clans</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">4.0.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.pvz2_na"> 
        <span> <img  class="image" src="content/game/4.JPG">
		</span>
        <span class="comment">Plants vs. Zombies</span>
        <span class="name">Casual</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.fifa14_na"> 
        <span> <img  class="image" src="content/game/5.JPG">
		</span>
        <span class="comment">FIFA 14 by EA SPORTS</span>
        <span class="name">Sports Games</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.rovio.angrybirdsrio"> 
       <span> <img  class="image" src="content/game/6.JPG">
		</span>
        <span class="comment">Angry Birds Rio</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->


</div>
<div class="clear"></div>
	</div>
    </div>
</div></div>