<div data-options="dxView : { name: 'apps', title: 'Top 6 Best Apps ' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div class="applist">
<div id="content">
<br/>

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.facebook.katana"> 
        <span> <img  class="image" src="content/apps/facebook.JPG">
		</span>
        <span class="comment">Facebook</span>
        <span class="name">Social</span>
        <span class="stars4"></span>
        <span class="starcomment">Varies with device</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->





 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.fring"> 
        <span> <img  class="image" src="content/apps/fring.JPG">
		</span>
        <span class="comment">fring Free Calls, Video & Text</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->



 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.tencent.mm"> 
        <span> <img  class="image" src="content/apps/wechat.JPG">
		</span>
        <span class="comment">WeChat</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.1 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.appstar.callrecorder"> 
        <span> <img  class="image" src="content/apps/callrecode.JPG">
		</span>
        <span class="comment">Automatic Call Recorder</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">2.1 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.whatsapp"> 
        <span> <img  class="image" src="content/apps/whatapps.JPG">
		</span>
        <span class="comment">WhatsApp Messenger</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.1 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.twitter.android"> 
       <span> <img  class="image" src="content/apps/twiter.JPG">
		</span>
        <span class="comment">Twitter</span>
        <span class="name">Social</span>
        <span class="stars4"></span>
        <span class="starcomment">Varies with device</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->


</div>
<div class="clear"></div>
	</div>
    </div>
</div></div>