<div data-options="dxView : { name: 'browser', title: 'Top 6 Best Browser ' } " >

    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div class="applist">
<div id="content">
<br/>

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.opera.mini.android"> 
        <span> <img  class="image" src="content/browser/6.JPG">
		</span>
        <span class="comment">Opera Mini browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">1.5 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->





 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=org.mozilla.firefox"> 
        <span> <img  class="image" src="content/browser/3.JPG">
		</span>
        <span class="comment">Firefox Browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->



 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.supercell.clashofclans"> 
        <span> <img  class="image" src="content/browser/2.JPG">
		</span>
        <span class="comment">Chrome Browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">4.0 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.UCMobile.intl"> 
        <span> <img  class="image" src="content/browser/1.JPG">
		</span>
        <span class="comment">UC Browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.1 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.tencent.ibibo.mtt"> 
        <span> <img  class="image" src="content/browser/5.JPG">
		</span>
        <span class="comment">ONE Browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=mobi.mgeek.TunnyBrowser"> 
       <span> <img  class="image" src="content/browser/4.JPG">
		</span>
        <span class="comment">Dolphin Browser</span>
        <span class="name">Communication</span>
        <span class="stars4"></span>
        <span class="starcomment">Varies with device</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->


</div>
<div class="clear"></div>
	</div>
    </div>
</div></div>