<div data-options="dxView : { name: 'extra', title: 'extra apps' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
  <!--   this for page data Scrolling -->
     <div id="scrollViewContainer" data-bind="dxScrollView: { }">
     
     <!--   this for page dxScrollView view data via api-->
     <div id="textContainer"></div>
     
 <div class="list" data-bind="dxList: {
  dataSource: listDataSource,
  autoPagingEnabled: autoPaging,
  showNextButton: nextButton,
  pullRefreshEnabled: true,
  height: '65%'
}">
  <div class="listItem" data-options="dxTemplate:{ name:'item' }">
    <div style="display:inline-block; margin: 5px;">
      <img style="margin:5px;" data-bind="attr: { src: getImagePath(name) }" />
    </div>
    <div style="display:inline-block; margin: 5px;">
      <p style="font-size:larger;"><b data-bind="text: name"></b></p>
      <p>Capital: <i data-bind="text: capital"></i></p>
	 
    </div>
<!--    <p>Area: <i data-bind="text: area"></i> km2</p>
    <p>Population: <i data-bind="text: population"></i></p>-->
  </div>
</div>
<div class="dx-fieldset">
  <div class="dx-field">
    <div style="width: 70%" class="dx-field-label">Auto paging</div>
    <div class="dx-field-value" data-bind="dxCheckBox: { checked: autoPaging }"></div>
  </div>
  <div class="dx-field">
    <div style="width: 70%" class="dx-field-label">Show Next button</div>
    <div class="dx-field-value" data-bind="dxCheckBox: { checked: nextButton }"></div>
  </div>
</div>    
    
<!--   this for page data Scrolling  div end-->    
</div>
    
</div></div>