<div data-options="dxView : { name: 'photo', title: 'Top 6 Best Games ' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div class="applist">
<div id="content">
<br/>

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.dragonage_na"> 
        <span> <img  class="image" src="https://lh4.ggpht.com/73ZpVemtqu_BigVv9OFdpfXnBK_lszitfDf2t_RWwLa9Gt6pjjjxERbUciiyRmvONA=w300-rw">
		</span>
        <span class="comment">Heroes of Dragon Age</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->





 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.sidheinteractive.sif.DR"> 
        <span> <img  class="image" src="https://lh6.ggpht.com/5juI2jXsVWahgMOETeukqKHFaoqZqSTMJj6ewolW0FR0wD2gcFLW8ekZ9LzEzDcxqls=w300-rw">
		</span>
        <span class="comment">Into the Dead</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->



 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.supercell.clashofclans"> 
        <span> <img  class="image" src="https://lh4.ggpht.com/tzSgW5BBkkafvEwS8UWiazrs55bhZJSdAz9Hg749FJ9Xgs-a8Lw-LKHg4KJWoqwH2rFw=w300-rw">
		</span>
        <span class="comment">Clash of Clans</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">4.0.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->

 <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.pvz2_na"> 
        <span> <img  class="image" src="https://lh6.ggpht.com/q-aOhJCVbM-Lt3R97ecKDFpePyiMFyyfIGc9bj-Z5KzLowmTimQTwFgnQPIxlzdlmxE=w300-rw">
		</span>
        <span class="comment">Plants vs. Zombies</span>
        <span class="name">Casual</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.ea.game.fifa14_na"> 
        <span> <img  class="image" src="https://lh4.ggpht.com/so8T0c6V7PNBRmyH_9kRrOrSeCWBxkU01W-bAqYf1AKdDSEXcsbxBA8vSApzBAZRhOs=w300-rw">
		</span>
        <span class="comment">FIFA 14 by EA SPORTS</span>
        <span class="name">Sports Games</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
         <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.rovio.angrybirdsrio"> 
       <span> <img  class="image" src="https://lh5.ggpht.com/rp_WwrHlSIfiDD2w4P6qZf-WXK2XLAn8MXqxZhdteCHIN0I53Po9pXS8lUjFKANLnA=w300-rw">
		</span>
        <span class="comment">Angry Birds Rio</span>
        <span class="name">Arcade & Action</span>
        <span class="stars4"></span>
        <span class="starcomment">2.3 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->


</div>
<div class="clear"></div>
	</div>
    </div>
</div></div>