<div data-options="dxView : { name: 'tools', title: 'Top 6 Best Tools ' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        <div class="applist">
        <div id="content">
        <br/>

        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.cleanmaster.mguard"> 
        <span> <img  class="image" src="content/tools/1.JPG">
		</span>
        <span class="comment">Clean Master (Cleaner)</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">1.5 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.avast.android.mobilesecurity"> 
        <span><img  class="image" src="content/tools/2.JPG"></span>
        <span class="comment">Avast Mobile Security & Antivirus</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">2.1 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->



        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.antivirus"> 
        <span> <img  class="image" src="content/tools/3.JPG">
		</span>
        <span class="comment">AVG AntiVirus Security</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">Varies with device</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->

        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.avira.android"> 
        <span> <img  class="image" src="content/tools/4.JPG">
		</span>
        <span class="comment">Avira Antivirus Security</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.wsandroid.suite"> 
        <span> <img  class="image" src="content/tools/5.JPG">
		</span>
        <span class="comment">McAfee Antivirus & Security</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->
        <!-- List Thumb Containt Are  -->
        <li>
		<a class="noeffect" href="market://details?id=com.pandasecurity.pandaav"> 
       <span> <img  class="image" src="content/tools/6.JPG">
		</span>
        <span class="comment">Panda Mobile Security & Antivirus</span>
        <span class="name">Tools</span>
        <span class="stars4"></span>
        <span class="starcomment">2.2 and up</span>
        <span class="arrow"></span>
        <span class="price">Install</span></a>
        </li>
        <!-- List Thumb Containt Are  -->


</div>
<div class="clear"></div>
	</div>
    </div>
</div></div>